#nav {
  opacity: 0.9;
}
#tools {
  position: fixed;
  bottom: 0;
  left: 0;
}
.form {
  height: 15%;
}
#draw {
  margin-left: 2em;
  float: left;
  opacity: 0.9;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  border-width: 0.2em;
  border-style: solid;
  margin-top: 10em;
  margin-left: 10em;
}
#tools {
  margin: 0.65em;
}
div.color-picker {
  margin: 0.65em;
}
#thickness {
  margin: 0.65em;
}
body {
  padding-top: 70px;
}
.row {
  width: 100%;
}
#clear,
#train,
#guess {
  margin: 0.2em;
}
